# Python basics

## Hi all Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991.Python is a programming language that lets you work quickly integrate systems more effectively.

## Python has several use cases and it is more easier when compared to other programming languages.The syntax seems to be much easier in python making the beginners to work on programming.

### Some of the fields where python is used extensively are:
### Data Science & Artificial Intelligence
### Web development 
### Game development
### Audio and video applications and much more

### Now let us see each concepts of python in basic

In [5]:
# how to print a value in python ( # represents comment in python)
print('welcome')

welcome

In [9]:
# How to assign values to variables 
x=2  #here x is called a variable and 2 is the value which is assigned to the variable
y=3
z=4
# adding all varaibles
x+y+z

9

In [10]:
# In python we have many types of data now let us have a look of each type

In [11]:
x=2
type(x) #type() is used to know the datatype of a variable ----> int represents integer

int

In [13]:
s='you can do it'
type(s) # ---> str represents string, string is generally a character

str

In [16]:
y=2.3
type(y)

float

In [17]:
x=True
type(x) ---> bool represents boolean which is true or false

bool

### These are all some of the basic types in python, now lets dig further more and look at what are all data structures which are available in python

# LIST

### list is one of the data strtucture in python.A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [20]:
a=[1,2,3,4,5]
type(a)

list

In [21]:
#accessing values in a list
a[0] # ----> Index value(position of the value which is called as index)

1

In [22]:
a[3]

4

In [24]:
#Accessing list through slicing method
a[0:3] # ->here 0:3 represents to slice the value from 0th position to 3rd position and the rule here is the value gets sliced to n-1 position , which means i gave 0:3 so the values will  be extractred from 0 to 3-1 which is 0 to 2

[1, 2, 3]

In [25]:
a[0:4:2] ##---> 0 - starting value index 4 - end value index 2 -- stepsize of values

[1, 3]

In [32]:
a[:5] # when starting index is not mentioned it takes from first position

[1, 7, 3, 4, 5]

In [34]:
a[1:] # similar like end index

[7, 3, 4, 5]

In [35]:
a[1]=7 #in list we can change the values using index position as i did

In [36]:
a

[1, 7, 3, 4, 5]

In [37]:
a[-1] # takes the last values of list

5

In [38]:
y = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
y[-4:-1]  # "-" represents slicing from last

['orange', 'kiwi', 'melon']

In [41]:
y = ["apple", "banana", "cherry"]
y.insert(1, "orange") ## used to insert a value in particular position

In [42]:
y

['apple', 'orange', 'banana', 'cherry']

In [45]:
y = ["apple", "banana", "cherry"]
y.remove("apple") ## used to remove a value in particular position

In [46]:
y

['banana', 'cherry']

In [49]:
y = ["apple", "banana", "cherry"]
y.clear() ## used to clear the list

In [50]:
y

[]

In [52]:
x=[1,2,3,4,5]
y=[6,7,8,9,4]
x+y  # merge two list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

## DICTIONARY

### A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [53]:
x = {
  "brand": "BMW",
  "model": "M530",
  "year": 2020
}
# it has key and value pair which resembles like a JSON format

In [55]:
x  # here for example brand is key and BMW is value

{'brand': 'BMW', 'model': 'M530', 'year': 2020}

In [56]:
## Accessing items in dictionary
y = x["model"]

In [57]:
y

'M530'

In [58]:
z = x.get("model")

In [59]:
z

'M530'

In [60]:
# change values in dictionary
x = {
  "brand": "BMW",
  "model": "M530",
  "year": 2020
}
x["year"] = 2019

In [61]:
x

{'brand': 'BMW', 'model': 'M530', 'year': 2019}

In [64]:
print(len(x)) # len represents the lenghth of values

3

In [67]:
# adding a key value to dictionary
x = {
  "brand": "BMW",
  "model": "M530",
  "year": 2020
}
x["colour"] = "gun metal grey"

In [68]:
x

{'brand': 'BMW', 'model': 'M530', 'year': 2020, 'colour': 'gun metal grey'}

In [73]:
#delete a value in dictionary
x = {
  "brand": "BMW",
  "model": "M530",
  "year": 2020
}
del x['year']

In [74]:
x

{'brand': 'BMW', 'model': 'M530'}

In [77]:
#clear dictionary
x = {
  "brand": "BMW",
  "model": "M530",
  "year": 2020
}
x.clear()

In [78]:
x

{}

In [79]:
# Nested dictionary
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [80]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [83]:
# creating dictionary using dict constructor
z = dict(brand="Ford", model="Mustang", year=1964)

In [84]:
z

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [86]:
"""
Some of the dcitonary functions:
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary
"""

"\nMethod\tDescription\nclear()\tRemoves all the elements from the dictionary\ncopy()\tReturns a copy of the dictionary\nfromkeys()\tReturns a dictionary with the specified keys and value\nget()\tReturns the value of the specified key\nitems()\tReturns a list containing a tuple for each key value pair\nkeys()\tReturns a list containing the dictionary's keys\npop()\tRemoves the element with the specified key\npopitem()\tRemoves the last inserted key-value pair\nsetdefault()\tReturns the value of the specified key. If the key does not exist: insert the key, with the specified value\nupdate()\tUpdates the dictionary with the specified key-value pairs\nvalues()\tReturns a list of all the values in the dictionary\n"

# TUPLE

### A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [91]:
x = ("bmw", "mercedes", "audi") # tuple are represented using ()
print(x)

('bmw', 'mercedes', 'audi')

In [92]:
# access tuples
x = ("bmw", "mercedes", "audi")
print(x[1])

mercedes

In [93]:
#Negative Indexing
x = ("bmw", "mercedes", "audi")
print(x[-1])

audi

In [94]:
# Range of index
x = ("bmw", "mercedes", "audi","volvo","lexus","Range rover","Jaguar")
print(x[2:5])

('audi', 'volvo', 'lexus')

In [97]:
# range of negative index
x = ("bmw", "mercedes", "audi","volvo","lexus","Range rover","Jaguar")
print(x[-4:-1])

('volvo', 'lexus', 'Range rover')

In [ ]:
# Change Tuple Values
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

#But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [98]:
x = ("bmw", "mercedes", "audi")
y = list(x)
y[1] = "kia"
x = tuple(y)

print(x)

('bmw', 'kia', 'audi')

In [99]:
# Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:
x = ("bmw", "mercedes", "audi")
del x

In [101]:
x #it rasies error because the tuple is deleted and x is undefined now

NameError: name 'x' is not defined

# SET

### A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [102]:
x = {"bmw", "mercedes", "audi"}
print(x)

{'bmw', 'audi', 'mercedes'}

In [103]:
# Access Items
# You cannot access items in a set by referring to an index, since sets are unordered the items has no index.
# To access items in set we can use FOR loop which we can discuss in later sections

In [104]:
# Add items
x = {"bmw", "mercedes", "audi"}
x.add("jaguar")

In [105]:
x

{'audi', 'bmw', 'jaguar', 'mercedes'}

In [106]:
# Remove items
x = {"bmw", "mercedes", "audi"}
x.remove("audi")

In [107]:
x

{'bmw', 'mercedes'}

### Thats it from python data structures,there are much more logics in data structures and you can explore more about python data structures in many online portals such as W3 schools, geekforgeeks,programiz etc

### Now let us dive into another great and interesting concepts which is one of the mostly used logics in programming

## CONDITION AND LOOPING

## IF condition

In [110]:
#Python Conditions and If statements
#Python supports the usual logical conditions from mathematics:
#Equals: a == b
#Not Equals: a != b
#Less than: a < b
#Less than or equal to: a <= b
#Greater than: a > b
#Greater than or equal to: a >= b

In [111]:
# If statement
a = 100
b = 500
if b > a: # ---> python if statement must terminate with colon
  print("b is greater than a")

b is greater than a

In [114]:
a = 100
b = 500
if b > a: # ---> python if statement must terminate with colon
print("b is greater than a")

# it throws error because python relies on indentation so keep watching your code for proper indentation

IndentationError: expected an indented block (<ipython-input-114-d7ee54c7aef9>, line 4)

In [115]:
# Elif statement
a = 34
b = 56
if b > a:
  print("b is greater than a")
elif a == b:  # elif is also called else if
  print("a and b are equal")

b is greater than a

In [116]:
# Else statement
a = 198
b = 56
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [118]:
a = 198
b = 56
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [119]:
# Short Hand If
if a > b: print("a is greater than b")

a is greater than b

In [120]:
# Short Hand If ... Else
a = 2
b = 330
print("A") if a > b else print("B")

B

In [121]:
# Using AND OR in if statement
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [122]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [123]:
# Nested IF
x = 56

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## For loop

### A for loop is used for iterating(passing over each value) over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [124]:
cars = ["bmw", "mercedes", "audi"]
for x in cars:
  print(x)

bmw
mercedes
audi

In [125]:
# looping through string
for x in "mercedes":
  print(x)

m
e
r
c
e
d
e
s

In [126]:
# break statement - It is used to break the loop when condition is True
cars = ["bmw", "mercedes", "audi"]
for x in cars:
  print(x)
  if x == "mercedes":
    break

bmw
mercedes

In [132]:
# Continue statement
cars = ["bmw", "mercedes", "audi"]
for x in cars:
  if x == "mercedes":
    continue
  print(x)

bmw
audi

In [133]:
# Range funtion
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [134]:
for x in range(90,100):
  print(x)

90
91
92
93
94
95
96
97
98
99

In [135]:
for x in range(1,10,2):
  print(x)

1
3
5
7
9

In [136]:
# Else in For Loop
for x in range(10):
  print(x)
else:
  print("Its done")

0
1
2
3
4
5
6
7
8
9
Its done

In [137]:
#Nested Loops
cars =["bmw", "mercedes", "audi"]
bikes = ["r1", "panigale", "vmax"]

for x in cars:
  for y in bikes:
    print(x, y)

bmw r1
bmw panigale
bmw vmax
mercedes r1
mercedes panigale
mercedes vmax
audi r1
audi panigale
audi vmax

## While Loops

In [138]:
## Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1  # it represents i=i+1

1
2
3
4
5

In [139]:
## Else in while
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [1]:
i=0
while (i<11):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [2]:
#Loop through list
cars =["bmw", "mercedes", "audi"]
for x in cars:
  print(x)

bmw
mercedes
audi

In [4]:
# check if item exists
cars =["bmw", "mercedes", "audi"]
for x in cars:
    if x=='bmw':
        print(x)

bmw

In [8]:
cars = {
  "brand": "BMW",
  "model": "M530",
  "year": 2020
}
for x in cars.values():
    print(x)

BMW
M530
2020

# Now lets look into a special function in python
## Lambda Function
## A lambda function is a small anonymous function.
## A lambda function can take any number of arguments, but can only have one expression.

In [10]:
# Syntax
# lambda arguments : expression

In [11]:
x = lambda a : a + 10
print(x(5))

15

In [12]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [13]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [15]:
a= lambda x:x*20
a(10)

200

## List Comprehension

In [17]:
#Normal looping
h = []

for car in 'mercedes':
    h.append(car)

print(h)

['m', 'e', 'r', 'c', 'e', 'd', 'e', 's']

In [20]:
# Using list comprehension
#syntax=[expression for item in list]
h=[car for car in 'mercedes'] # used for single line statement which makes looping easy
print(h)

['m', 'e', 'r', 'c', 'e', 'd', 'e', 's']

## Now lets look at major concept in python which is called function which plays a major role for all the developers out there because all the development work which we do will all be written as a user defined function so now let us dive into it and look what a fuction is and how to work with user define functions

### User defined function - Don't get panic by hearing the word user defined function because i got panic at first,it is nthing but the yourself is the user who is going to define a method or function to perform some specific tasks ,it is as simple as that

### Now we shall implement a code using user defined functions

In [22]:
# User defined function
# Syntax
"""
def func_name (input parameters): ---->function contains input parameters and must contain a return value inorder to end the function

code

return func_name
"""

'\ndef func_name (input parameters): ---->function contains input parameters and must contain a return value inorder to end the function\n\ncode\n\nreturn func_name\n'

In [24]:
# simple user defined function
def add(x,y):
    z=x+y
    return z

In [25]:
add(4,5)

9

In [26]:
# Calculating salary using functions
def calcsal(basic,hra,lop):
    Grosssal=basic+hra+lop
    return Grosssal

In [27]:
calcsal(45000,14000,12000)

71000

## And i hope you got some idea about what user defined function is, there are much more complex way where we deal using functions, apart from user defined function there are lots of pre defined functions which adds python an additonal advantage , combining many pre defined functions it is comprised into a single package which consists many pre defined functions

## Some of the packages which contains many functions or methods are pandas(used for data analysis),numpy(used for numerical computation),Matplotlib(used for visualizations) and much more


# And thats it for the basics in python hope you got all the concepts clear,if incase you have any queries related to basics of python drop me a mail at vimal.kumar477@gmail.com

# Thanks a lot .............

# Regards
### Vimal